.coFormButton{
	width: 100%;
	@include lineHeight(2.2rem);
}
// 浅色系
.lightStyle, .lightStyleForbid{
	border: 1px solid #c7d4da;
	background-color: #fff;
}
.lightStyle:hover{ background-color: #e9eff2; }
// 浅色禁用
.lightStyleForbid{
	color: #979999;
	cursor: default !important;
}
// 深色系
.darkStyle, .darkStyleForbid{
	color: #fff;
	border: none;
}
.darkStyle{ background-color: #2987f9; }
.darkStyle:hover{ background-color: #2479e0; }
.darkStyle:active{ background-color: #216ecc; }
// 深色禁用
.darkStyleForbid{
	background-color: #999;
	cursor: default !important;
}