.coCusRegMainModile{
	width: 300%;
	height: 36.1rem;
	position: absolute;
	left: 13.5rem; top: 0;
	background-color: #fff;
	.title{
		height: 3.6rem;
		line-height: 3.6rem;
		border-bottom: 1px solid #f0f4f5;
		padding-left: 4.6rem;
		img{
			width: 1.6rem;
			position: absolute;
			top: 1rem; left: 2.4rem;
		}
	}
	.body{
		padding: 1.9rem 4.6rem;
	}
}