form.coCusLogForm{
	.coInputText{
		margin-bottom: 1rem;
		input{ width: 12.8rem; }
		.imgRight{
			button{
				border: none;
				background: none;
				padding: 0;
			}
			button:focus{ outline: none; }
		}
	}
	.inputCheckboxBox{
		margin-bottom: 1.4rem;
		margin-top: -0.2rem;
		@include lineHeight(1rem)
		a{ text-decoration: underline; }
	}
	.buttonBox{ margin-bottom: 1rem; }
}