header.coCusHeader{
	position: absolute;
	z-index: 999;
	width: 100%;
	box-shadow: 0 1px 2px rgba(35, 24, 21, 0.2);
	.container{
		height: 3.6rem;
		.headerLogo{
			margin-top: 1.05rem;
			width: 5rem;
		}
		.cusState1{
			a{
				width: 3.2rem;
				height: 3.6rem;
				img{ margin-top: 0.8rem; }
				div{ margin-top: 0.4rem; }
			}
			// 首页样式
			a.registerDark{ background-color: #859ca6; }
			a.registerDark:hover{ background-color: #4082c4; }
		}
		.cusState2{
			height: 3.6rem;
			.cusInfo{
				height: 3.6rem;
				div{ @include lineHeight(3.6rem); }
				div.portraitBox{
					margin: 0 0.4rem 0 0.5rem;
					line-height: 4.5rem;
					img{
						width: 1.6rem;
						height: 1.6rem;
						border-radius: 50%;
					}
				}
				div.selectIcon{ 
					margin: 0 0.7rem 0 0.3rem;
					line-height: 3.7rem;
					img{ width: 0.6rem; }
				}
			}
			.dropDownBox{
				box-shadow: 0 0 4px 2px rgba(35, 24, 21, 0.05);
				padding: 0.75rem 0;
				a{
					display: block;
					padding: 0 0.4rem;
					@include lineHeight(1.8rem);
					img{
						margin: 0.5rem;
						width: 0.6rem;
					}
					.msgNumber{
						width: 1.3rem;
						@include lineHeight(0.8rem);
						border-radius: 0.3rem;
						background-color: #f53;
						margin: 0.5rem 0.3rem;
					}
				}
			}
		}
		.cusState2:hover{ overflow: visible; }
	}
}
header::after{    // 第二层阴影
	content: "";
	display: block;
	height: 10px;
	margin-top: -10px;
	box-shadow: 0 2px 4px rgba(35, 24, 21, 0.05);
}