// 去默认样式
html, body, ul, hr{
	margin: 0;
	padding: 0;
}
button, input{ outline: none; }
a{ text-decoration: none; }
ul{ list-style: none; }
select{  // 将默认的select选择框样式清除
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
select::-ms-expand { display: none; }  // 清除ie的默认选择框样式清除，隐藏下拉箭头
input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; }
textarea{ resize: none; }

// 屏幕适配, 目前只考虑960及以上的屏幕
@media screen and (min-device-width: 960px){    // 960-1080px间的PC
	html{
		font-size: 17px;
	}
}
@media screen and (min-device-width: 1080px){    // 1080-1600px间的PC
	html{
		font-size: 20px;
	}
}
@media screen and (min-device-width: 1600px){    // 1600px~的PC
	html{
		font-size: 24px;
	}
}

// 常用函数定义
@mixin lineHeight($h) {
  height: $h;
  line-height: $h;
}

// 通用样式
html, body{ height: 100%; }
html{
	position: relative;
	line-height: 1;
	select{
		// 添加自定义下拉箭头
		background-color: #fff;
		background-repeat:no-repeat;
		background-position: 94% 50%;
	}
	a, button, select, option, input[type=button]{ cursor: pointer; }
	.cursorPointer{ cursor: pointer; }
	.fl{ float: left; }
	.fr{ float: right; }
	.overFlowHidden{ overflow: hidden; }
	.borderBox{ box-sizing: border-box; }  // 感觉这种处理不好
	.borderRadius{ border-radius: 2px; }
	.borderColor{ border: 1px solid #a3c0cc; }
	.borderColor2{ border: 1px solid #d4e0e3; }
	.textCenter{ text-align: center; }
	.textLeft{ text-align: left; }
	.textRight{ text-align: right; }
}
