// 背景色
.bgLightColor1{ background-color: #f1f8fa; }    // 首页、header
.bgLightColor2{ background-color: #f1f7f9; }    // 登录、订单支付
.bgLightColor3{ background-color: #f7fbfc; }    // 左侧栏、用户协议内容
.bgBlueColor1{ background-color: #268bff; }      // 首页第三部分
.bgBlueColor2{ background-color: #4e73dd; }      // 注册、订单banner
.bgBlueColor3{ background-color: #0084ff; }  
.bgBlueColor4{ background-color: #0877f6; }
.bgWhiteColor{ background-color: #fff; }        // 右侧栏等
.bgDarkColor1{ background-color: #2c333c; }
.bgDarkColor2{ background-color: #222931; }

// 按钮色
.btnHover1:hover{ background-color: #e9eff2 !important; }  // header登录与注册
.btnHover2:hover{ background-color: #e8eff1 !important; }  // header用户按钮、首页建议发送、登录覆盖窗口关闭
.btnBlue1{ background-color: #4082c4; }         // 首页底部注册按钮
.btnBlue1:hover{ background-color: #2e79c4; }