// 用户界面跨越页面通用设计
header, .content, footer{
	min-width: 54rem;    // 保证包裹住container
}
.container{
	position: relative;
	width: 54rem;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 1.2rem;
}
// 用户须知
.cover{
	z-index: 9999;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	.coverMain{
		position: absolute;
		left: 50%; top: 50%;
	}
}
#coverUserAgreement{
	.coverMain{
		margin-left: -13.8rem;
		margin-top: -12.2rem;
		width: 27.6rem;
		.title{ @include lineHeight(3.6rem) }
		.body{
			overflow: auto;
			height: 13.8rem;
			line-height: 1.7;
			border-bottom: 1px solid #e3e3e3;
			padding: 1.7rem;
			// padding-bottom: 0;
			// border-bottom: 1.7rem solid #f7fbfc;
		}
		// 设置滚动条（仅支持webkit内核）
		.body::-webkit-scrollbar{ width: 0.6rem; }
		.body::-webkit-scrollbar{ background-color: #edf3f5; }
		.body::-webkit-scrollbar-thumb{
			background-color: #99b4bf;
			border: 3px solid #edf3f5;
		}
		.close{
			@include lineHeight(3.6rem)
			input{
				width: 4.8rem;
				@include lineHeight(1.8rem)
			}
		}
	}
}
// 登录小窗口
#coverLog{
	.coverMain{
		margin-left: -8.75rem;
		margin-top: -11rem;
		width: 17.5rem;
		.title{
			@include lineHeight(4.5rem)
			position: relative;
			button{
				position: absolute;
				top: 0; right: 0;
				border: none;
				background: none;
				margin: 0.5rem;
				padding: 0;
				img{ padding: 0.1rem; }
			}
		}
		.body{
			margin-top: -2rem;
			padding: 2.4rem 2rem;
			input{ width: 13.5rem; }
		}
		.coMsgBox{ top: 5.5rem; left: 50%; }
	}
}
