// 通用字体大小
// 12px
.font12{ font-size: 0.6rem; }
// 14px
.font14{ font-size: 0.7rem; }
// 16px
.font16{ font-size: 0.8rem; }
// 18px
.font18{ font-size: 0.9rem; }
// 20px
.font20{ font-size: 1rem; }
// 22px
.font22{ font-size: 1.1rem; }
// 24px
.font24{ font-size: 1.2rem; }
// 28px
.font28{ font-size: 1.4rem; }
// 38px
.font38{ font-size: 1.9rem; }

// 默认字体设置
html{
	font-family: "Microsoft Yahei", 微软雅黑, "PingFang SC", 苹方, 思源黑体, sans-serif;
	input, textarea{ font-family: "Microsoft Yahei", 微软雅黑, "PingFang SC", 苹方, 思源黑体, sans-serif !important; }
	// 默认黑字
	color: #3b4348;
	a, select, option, input, textarea, button{ color: #3b4348; }
	// 灰字
	.grayFont{ color: #667880; }
	// 蓝色突出字
	.blueFont{ color: #007fe0; }
	.blueFont2{ color: #4e73dd; }
	// 灰色链接字
	.grayAFont{
		color: #999;
		text-decoration: underline;
	}
	// 彩色背景白字
	.whiteFont{ color: #fff; }
	// 字体加粗
	.fontBold{ font-weight: bold; }
}

// 引入字体
@font-face{
	font-family: "思源黑体";
	src: url(../static/font/SourceHanSansCN-Regular.otf);
}