.coOrderDetail{
	padding: 2rem 2.4rem;
	border-top: 1px solid #f0f4f5;
	.file{
		width: 37.2rem;
		@include lineHeight(1.6rem);
		vertical-align: middle;
		>div{ display: inline-block; }
		.fileListNumber{
			width: 1.6rem;
			@include lineHeight(1.6rem);
			border-radius: 50%;
			background-color: #268bff;
		}
		.fileName{ margin: 0 0.4rem; }
		.detailOpen{
			width: 1.4rem;
			@include lineHeight(1.4rem);
			background-color: #ecf3f5;
			border: none;
			border-radius: 50%;
		}
		.setPart{
			position: relative;
			height: 1.6rem;
			button{
				background: none;
				border: none;
				margin: 0 0.4rem;
			}
			.dropDown{
				z-index: 999;
				position: absolute;
				top: 2rem; left: -1rem;
	            width: 4.8rem;
	            border: 1px solid #e1e4ec;
	            padding: 0.3rem 0;
	            img{
	            	width: 0.55rem;
	            	position: absolute;
	            	top: -0.3rem; left: 2.1rem;
	            }
	            li{
	            	@include lineHeight(1.5rem);
	            	text-align: center;
	            }
			}
		}
	}
	.detail{
		margin-top: 2.5rem;
		>div{
			margin: 1.5rem 0;
			input[type=button]{
				margin: 0 0.4rem;
				height: 1.8rem;
				width: 4.3rem;
			}
			input[type=button].chosed{
				border: 2px solid #4e73dd;
				color: #4e73dd;
			}
		}
		>div:first-child{
			position: relative;
			@include lineHeight(1rem);
			div{
				display: inline-block;
				height: 1rem;
			}
			.progress{
				position: absolute;
				left: 5.6rem; top: 0;
				width: 16rem;
				.progressDone{
					position: absolute;
					background-image: url(/static/img/cus_order_loadState.png);
					span{ margin-right: -2rem; }
				}
			}
		}
		>div:nth-child(2){
			position: relative;
			div{ display: inline-block; }
			.paginationDetail{
				height: 1.8rem;
				width: 8.7rem;
				margin: 0 0.4rem;
				position: absolute;
				top: 0; left: 15.9rem;
				input[type=number], input[type=text]{ position: absolute; top: 0; }
				input[type=number]{
					@include lineHeight(1.8rem);
					width: 3.6rem;
					text-align: center;
				}
				input[name=paginationBegin]{
					left: 0;
					border-right: none;
					padding-left: 0.9rem;
				}
				input[name=paginationEnd]{
					left: 5.1rem; 
					border-left: none;
					padding-right: 0.9rem;
				}
				input[type=text]{
					@include lineHeight(1.8rem);
					width: 1.5rem;
					left: 3.6rem;
					border-left: none;
					border-right: none;
					color: #a3c0cc;
					padding: 0 0.2rem;
				}
				.leftBtn{ left: 0; }
				.rightBtn{ right: 0; }
			}
		}
		.inputNumber{
			div{ display: inline-block; }
			>div{
				margin: 0 0.3rem;
				position: relative;
				input[type=number]{
					@include lineHeight(1.8rem);
					width: 4.3rem;
					padding: 0 0.4rem;
				}
				.btnBox{ right: 0; }
			}
		}
		>div:nth-child(2) .paginationDetail .leftBtn, >div:nth-child(2) .paginationDetail .rightBtn, .inputNumber .btnBox{
			position: absolute; top: 0;
			height: 1.8rem;
			width: 0.9rem;
			input[type=button]{
				padding: 0;
				margin: 0;
				width: 0.9rem;
				height: 0.9rem;
				position: absolute;
			}
			input[name=plus]{
				top: 0; right: 0;
				background-image: url(/static/img/form_numberSelect_upIcon.png);
			}
			input[name=minus]{
				bottom: 0; right: 0;
				border-top: none;
				background-image: url(/static/img/form_numberSelect_downIcon.png);
			}
		}
		>div:last-child{
			label{
				vertical-align: top;
				padding: 0.6rem 0;
			}
			textarea{
				margin: 0 0.4rem;
				width: 21.6rem;
				line-height: 1.2rem;
				padding: 0.4rem;
			}
		}
	}
}