#cusLog{
	padding-top: 3.6rem;
	padding-bottom: 10.2rem;
	position: relative;
	.logBox{
		margin: 4.9rem auto 0;
		width: 12.8rem;
		.titleLogo{
			margin-bottom: 3.4rem;
			img{ width: 9.1rem; }
		}
	}
	.coMsgBox{ top: 17.3rem; left: 35%; }
}