#cusReg, #cusFind{
	aside.sideColumn{ height: 36.4rem; }
	article.mainColumn{
		height: 36.4rem;
		form{
			padding: 2rem 3rem;
			>div{ margin-bottom: 1.2rem; }
			.coInputText{
				label{ 
					display: inline-block;
					width: 4rem; 
					text-align: right;
				}
				input{ width: 12.6rem; }
				input[name=verification]{ width: 5.8rem; }
				.imgRight{
					button{
						border: none;
						background: none;
						padding: 0;
					}
					button:focus{ outline: none; }
				}
			}
			.coCheckbox{
				margin-left: 4.6rem;
				a{
					text-decoration: underline;
					color: #4e73dd;
				}
			}
			.buttonBox{
				margin-left: 4.6rem;
				width: 11rem;
				margin-top: 2.4rem;
			}
			.coMsgBox{ top: 10rem; left: 7.2rem; }
		}
	}
}